# Python - Intermediate Level

## Lists

**Lists: Ordered, mutable, allowa duplicate elements**

**Created with square brackets**

In [1]:
mylist = ["banana", "apple", "orange"]

In [2]:
print(mylist)

['banana', 'apple', 'orange']

In [3]:
#an empty list
mylist2 = list()

In [4]:
print(mylist2)

[]

**Allow different data types with in the list**

**Also allows to duplicate elements in the list**

In [5]:
mylist3 = [5,True,"apple","apple"]

In [6]:
print(mylist3)

[5, True, 'apple', 'apple']

**To access an element, we do that n=by refering to the index**

In [7]:
item = mylist[0]
print(item)

banana

In [8]:
item = mylist[1]
print(item)

apple

**Also we can specify negative index**

-1 refers to last item in the list and -2 refers to second last item and so on

In [13]:
print(mylist)

['banana', 'apple', 'orange']

In [10]:
item = mylist[-1]
print(item)

orange

In [11]:
item = mylist[-2]
print(item)

apple

In [12]:
item = mylist[-3]
print(item)

banana

**To iterate items in the list we use for loop**

In [14]:
for i in mylist:
    print(i)

banana
apple
orange

**to check an item in the list we can use if condition**

In [15]:
if "apple" in mylist:
    print("Yes")
else:
    print("No")

Yes

In [16]:
if "lemon" in mylist:
    print("Yes")
else:
    print("No")

No

**To check how many elements in the list we can do that len()**

In [17]:
print(len(mylist))

3

**To append the list we use append()**

In [18]:
mylist.append("lemon")

In [19]:
print(mylist)

['banana', 'apple', 'orange', 'lemon']

**To insert elements at specific index we use--> index(index_number,element)**

In [20]:
mylist.insert(2,"cherry")

In [21]:
print(mylist)

['banana', 'apple', 'cherry', 'orange', 'lemon']

**To remove we use -> pop()**

This returns the last item and also removes it.

In [22]:
item = mylist.pop()

In [23]:
print(mylist)

['banana', 'apple', 'cherry', 'orange']

**To remove specific element -> remove()**

**To remove all elements -> clear()**

**To reverse the oreder of the list -> reverse()**

**To sort the list -> sort()**

In [24]:
#remove specific element
mylist.remove("banana")
print(mylist)

['apple', 'cherry', 'orange']

In [25]:
#clear all the elements
mylist.clear()
print(mylist)

[]

In [29]:
#reverse the order of the list
mylist = [-2,2,3,-7,0,1,6]
print(mylist)
mylist.reverse()
print(mylist)

[-2, 2, 3, -7, 0, 1, 6]
[6, 1, 0, -7, 3, 2, -2]

In [27]:
#sort the list
mylist.sort()
print(mylist)

[-7, -2, 0, 1, 2, 3, 6]

**Notice sort() method change our list but if we don't want to change the order of the list what we can do is to use -> sorted() method and store them in a new list**

In [31]:
new_list = sorted(mylist)
print(new_list)
print(mylist)

[-7, -2, 0, 1, 2, 3, 6]
[6, 1, 0, -7, 3, 2, -2]

To have multiple element in the same list

In [32]:
mylist3 = [2] * 10
print(mylist3)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

We can combine two list with **+** operator

In [33]:
print(mylist)
print(mylist3)
new_list = mylist + mylist3
print(new_list)

[6, 1, 0, -7, 3, 2, -2]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
[6, 1, 0, -7, 3, 2, -2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

**Slicing:**

    - Allow us to access some part of the list
    - For slicing we use [start_index:stop_index] stop index 
    is excluded.
    - if we don't specify the start index the it start from the 
    beginnig of the list.
    - if we don't specify the stop index it goes up till the end of 
    the list.

In [46]:
mylist = [1,2,3,4,5,6,7,8,9]

a = mylist[1:5]
print(a)

a = mylist[:5]
print(a)

a = mylist[1::] #step index(in steps of 1)
print(a)

a = mylist[::1]
print(a)

a = mylist[::2]
print(a)

a = mylist[1:-1]
print(a)

a = mylist[::-1]
print(a)

a = mylist[:-1]
print(a)

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[2, 3, 4, 5, 6, 7, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8]

To copy from a list we use  
-> **copy() method**  
-> **list()**  
-> **slicing**[:]

In [47]:
mylist = ["apple","orange","banana"]

#making a copy with above mentioned methods
#copy()
mylist_copy1 = mylist.copy()
mylist_copy1.append("lemon")
print(mylist_copy1)

#list
mylist_copy2 = list(mylist)
mylist_copy2.append("cherry")
print(mylist_copy2)

#slicing method
mylist_copy3 = mylist[:]
mylist_copy3.append("grapes")
print(mylist_copy3)

['apple', 'orange', 'banana', 'lemon']
['apple', 'orange', 'banana', 'cherry']
['apple', 'orange', 'banana', 'grapes']

*An advanced technique ->* **List Comprehesion**: A fast way to create a new list from an existing list in one line

In [48]:
mylist = [1,2,3,4,5]
b = [i*i for i in mylist] #syntax is expression followed by for loop

print(mylist)
print(b)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

## Tuples

- Ordered and Immutable(cannot change object at the index)
- main difference between list is tuple cannot be changed after creation
- created for objects that belong together.
- created with paranthesis and elements seperated by a comma or we can use built in type function **tuple()**.
- tuple with single element must be created with a comma or otherwise it is not recognised as type tuple.

In [54]:
mytuple = ("naruto","luffy","baki",28)
print(mytuple)

('naruto', 'luffy', 'baki', 28)

In [55]:
type(mytuple)

tuple

In [56]:
print(i for i in mytuple)

<generator object <genexpr> at 0x7f98810f5040>

In [57]:
for i in mytuple:
    print(i)

naruto
luffy
baki
28

In [59]:
a = mytuple[1:]
print(a)

('luffy', 'baki', 28)

In [60]:
if 28 in mytuple:
    print("Yes")
else:
    print("No")

Yes

In [61]:
#to get number of elements

print(len(mytuple))

4

In [63]:
#to count the letters
print(mytuple.count("baki"))

1

In [66]:
#to get the index
print(mytuple.index(28))

3

In [70]:
#convert a tuple to list
mylist = list(mytuple)
print(mylist)
type(mylist)

['naruto', 'luffy', 'baki', 28]

list

In [71]:
#to convert from list to tuple
mytuple = tuple(mylist)
print(mytuple)
type(mytuple)

('naruto', 'luffy', 'baki', 28)

tuple

**Unpacking**:  
- we can assing each element of the tuple to a variable
- Remember the number of variable must match the number of elements in the tuple.
- we can unpack multiple elements with * and that will be converted to list

In [79]:
mytuple = ("Yuchiro","Yujiro","Baki")

grandfather, father, son = mytuple
print(grandfather)
print(father)
print(son)

Yuchiro
Yujiro
Baki

In [82]:
mytuple = (1,2,3,4,5)

one,*two = mytuple

print(one)
print(two)

1
[2, 3, 4, 5]

When we compare the size of the list and tuple containing same elements we can see that tuple is less in memory than the list.  
To calculate the size we use **sys.getsizeof() method**

In [86]:
import sys
mylist = ["mike",0,1,True]
mytuple = ("mike",0,1,True)
print(type(mylist)) #check the type
print(type(mytuple))

#checking the size
print("mylist = ",sys.getsizeof(mylist)," bytes " )
print("mytuple = ",sys.getsizeof(mytuple)," bytes " )

<class 'list'>
<class 'tuple'>
mylist =  88  bytes
mytuple =  72  bytes

We can also check which is the efficient one in terms of timing.  
**Tuple is efficient than list.**  

we use **timeit.timeit()**

In [91]:
import timeit

print("list timing =",timeit.timeit(stmt="[0,1,2,3,4,5]",number=1000000))
print("tuple timing =",timeit.timeit(stmt="(0,1,2,3,4,5)",number=1000000))

list timing = 0.07501800800673664
tuple timing = 0.008418073004577309