# Python - Intermediate Level

## Lists

**Lists: Ordered, mutable, allowa duplicate elements**

**Created with square brackets**

In [1]:
mylist = ["banana", "apple", "orange"]

In [2]:
print(mylist)

['banana', 'apple', 'orange']

In [3]:
#an empty list
mylist2 = list()

In [4]:
print(mylist2)

[]

**Allow different data types with in the list**

**Also allows to duplicate elements in the list**

In [5]:
mylist3 = [5,True,"apple","apple"]

In [6]:
print(mylist3)

[5, True, 'apple', 'apple']

**To access an element, we do that n=by refering to the index**

In [7]:
item = mylist[0]
print(item)

banana

In [8]:
item = mylist[1]
print(item)

apple

**Also we can specify negative index**

-1 refers to last item in the list and -2 refers to second last item and so on

In [13]:
print(mylist)

['banana', 'apple', 'orange']

In [10]:
item = mylist[-1]
print(item)

orange

In [11]:
item = mylist[-2]
print(item)

apple

In [12]:
item = mylist[-3]
print(item)

banana

**To iterate items in the list we use for loop**

In [14]:
for i in mylist:
    print(i)

banana
apple
orange

**to check an item in the list we can use if condition**

In [15]:
if "apple" in mylist:
    print("Yes")
else:
    print("No")

Yes

In [16]:
if "lemon" in mylist:
    print("Yes")
else:
    print("No")

No

**To check how many elements in the list we can do that len()**

In [17]:
print(len(mylist))

3

**To append the list we use append()**

In [18]:
mylist.append("lemon")

In [19]:
print(mylist)

['banana', 'apple', 'orange', 'lemon']

**To insert elements at specific index we use--> index(index_number,element)**

In [20]:
mylist.insert(2,"cherry")

In [21]:
print(mylist)

['banana', 'apple', 'cherry', 'orange', 'lemon']

**To remove we use -> pop()**

This returns the last item and also removes it.

In [22]:
item = mylist.pop()

In [23]:
print(mylist)

['banana', 'apple', 'cherry', 'orange']

**To remove specific element -> remove()**

**To remove all elements -> clear()**

**To reverse the oreder of the list -> reverse()**

**To sort the list -> sort()**

In [24]:
#remove specific element
mylist.remove("banana")
print(mylist)

['apple', 'cherry', 'orange']

In [25]:
#clear all the elements
mylist.clear()
print(mylist)

[]

In [29]:
#reverse the order of the list
mylist = [-2,2,3,-7,0,1,6]
print(mylist)
mylist.reverse()
print(mylist)

[-2, 2, 3, -7, 0, 1, 6]
[6, 1, 0, -7, 3, 2, -2]

In [27]:
#sort the list
mylist.sort()
print(mylist)

[-7, -2, 0, 1, 2, 3, 6]

**Notice sort() method change our list but if we don't want to change the order of the list what we can do is to use -> sorted() method and store them in a new list**

In [31]:
new_list = sorted(mylist)
print(new_list)
print(mylist)

[-7, -2, 0, 1, 2, 3, 6]
[6, 1, 0, -7, 3, 2, -2]

To have multiple element in the same list

In [32]:
mylist3 = [2] * 10
print(mylist3)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

We can combine two list with **+** operator

In [33]:
print(mylist)
print(mylist3)
new_list = mylist + mylist3
print(new_list)

[6, 1, 0, -7, 3, 2, -2]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
[6, 1, 0, -7, 3, 2, -2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

**Slicing:**

    - Allow us to access some part of the list
    - For slicing we use [start_index:stop_index] stop index 
    is excluded.
    - if we don't specify the start index the it start from the 
    beginnig of the list.
    - if we don't specify the stop index it goes up till the end of 
    the list.

In [46]:
mylist = [1,2,3,4,5,6,7,8,9]

a = mylist[1:5]
print(a)

a = mylist[:5]
print(a)

a = mylist[1::] #step index(in steps of 1)
print(a)

a = mylist[::1]
print(a)

a = mylist[::2]
print(a)

a = mylist[1:-1]
print(a)

a = mylist[::-1]
print(a)

a = mylist[:-1]
print(a)

[2, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[2, 3, 4, 5, 6, 7, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8]

To copy from a list we use  
-> **copy() method**  
-> **list()**  
-> **slicing**[:]

In [47]:
mylist = ["apple","orange","banana"]

#making a copy with above mentioned methods
#copy()
mylist_copy1 = mylist.copy()
mylist_copy1.append("lemon")
print(mylist_copy1)

#list
mylist_copy2 = list(mylist)
mylist_copy2.append("cherry")
print(mylist_copy2)

#slicing method
mylist_copy3 = mylist[:]
mylist_copy3.append("grapes")
print(mylist_copy3)

['apple', 'orange', 'banana', 'lemon']
['apple', 'orange', 'banana', 'cherry']
['apple', 'orange', 'banana', 'grapes']

*An advanced technique ->* **List Comprehesion**: A fast way to create a new list from an existing list in one line

In [48]:
mylist = [1,2,3,4,5]
b = [i*i for i in mylist] #syntax is expression followed by for loop

print(mylist)
print(b)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

## Tuples

- Ordered and Immutable(cannot change object at the index)
- main difference between list is tuple cannot be changed after creation
- created for objects that belong together.
- created with paranthesis and elements seperated by a comma or we can use built in type function **tuple()**.
- tuple with single element must be created with a comma or otherwise it is not recognised as type tuple.

In [54]:
mytuple = ("naruto","luffy","baki",28)
print(mytuple)

('naruto', 'luffy', 'baki', 28)

In [55]:
type(mytuple)

tuple

In [56]:
print(i for i in mytuple)

<generator object <genexpr> at 0x7f98810f5040>

In [57]:
for i in mytuple:
    print(i)

naruto
luffy
baki
28

In [59]:
a = mytuple[1:]
print(a)

('luffy', 'baki', 28)

In [60]:
if 28 in mytuple:
    print("Yes")
else:
    print("No")

Yes

In [61]:
#to get number of elements

print(len(mytuple))

4

In [63]:
#to count the letters
print(mytuple.count("baki"))

1

In [66]:
#to get the index
print(mytuple.index(28))

3

In [70]:
#convert a tuple to list
mylist = list(mytuple)
print(mylist)
type(mylist)

['naruto', 'luffy', 'baki', 28]

list

In [71]:
#to convert from list to tuple
mytuple = tuple(mylist)
print(mytuple)
type(mytuple)

('naruto', 'luffy', 'baki', 28)

tuple

**Unpacking**:  
- we can assing each element of the tuple to a variable
- Remember the number of variable must match the number of elements in the tuple.
- we can unpack multiple elements with * and that will be converted to list

In [79]:
mytuple = ("Yuchiro","Yujiro","Baki")

grandfather, father, son = mytuple
print(grandfather)
print(father)
print(son)

Yuchiro
Yujiro
Baki

In [82]:
mytuple = (1,2,3,4,5)

one,*two = mytuple

print(one)
print(two)

1
[2, 3, 4, 5]

When we compare the size of the list and tuple containing same elements we can see that tuple is less in memory than the list.  
To calculate the size we use **sys.getsizeof() method**

In [86]:
import sys
mylist = ["mike",0,1,True]
mytuple = ("mike",0,1,True)
print(type(mylist)) #check the type
print(type(mytuple))

#checking the size
print("mylist = ",sys.getsizeof(mylist)," bytes " )
print("mytuple = ",sys.getsizeof(mytuple)," bytes " )

<class 'list'>
<class 'tuple'>
mylist =  88  bytes
mytuple =  72  bytes

We can also check which is the efficient one in terms of timing.  
**Tuple is efficient than list.**  

we use **timeit.timeit()**

In [91]:
import timeit

print("list timing =",timeit.timeit(stmt="[0,1,2,3,4,5]",number=1000000))
print("tuple timing =",timeit.timeit(stmt="(0,1,2,3,4,5)",number=1000000))

list timing = 0.07501800800673664
tuple timing = 0.008418073004577309

## Dictionaries

- Key-Value Pairs(each key value pair maps it's associated key to it's value)
- Unordered
- Mutable
- Created with braices {"key":value}

In [26]:
mydict = {"name": "Justin", "age": 25, "city": "Rome"}
print(mydict)
print(type(mydict))
mydict1 = dict (name = "Justin", age = 28, city = "Rome")
print(mydict1)
print(type(mydict1))
#to access the values
value = mydict["name"]
print(value)

{'name': 'Justin', 'age': 25, 'city': 'Rome'}
<class 'dict'>
{'name': 'Justin', 'age': 28, 'city': 'Rome'}
<class 'dict'>
Justin

In [27]:
#the dictionary is mutable ie, extendable and can be override
mydict["email"] = "justinpoommen@gmail.com"

In [28]:
print(mydict)

{'name': 'Justin', 'age': 25, 'city': 'Rome', 'email': 'justinpoommen@gmail.com'}

- to delete the key-value pair we can use  
    - del
    - pop()
    - popitem() -> remove the last item

In [24]:
#deleting key-value pairs
del mydict["age"]
mydict.pop("city")
mydict.popitem()

('email', 'justinpoommen@gmail.com')

In [25]:
print(mydict)

{'name': 'Justin'}

If we want to check if our keys  are in the dictionary there are two ways:

- if conditon
- try,except statments

In [30]:
if "name" in mydict:
    print(mydict["name"])

#try and except statement
try:
    print(mydict["lastname"])
except:
    print("Error")

Justin
Error

To loop through the dictionary:  
   - for loop keys(), values(),items()

In [35]:
#for loop
for key in mydict.keys():
    print(key)
    
for value in mydict.values():
    print(value)
    
for key,value in mydict.items():
    print(key,value)

name
age
city
email
Justin
25
Rome
justinpoommen@gmail.com
name Justin
age 25
city Rome
email justinpoommen@gmail.com

To copy a dictionary:  
 - **copy()** function
 - use **dict** funtion

In [36]:
#copy a dictionary
mydict_cpy = mydict.copy()
print(mydict_cpy)

{'name': 'Justin', 'age': 25, 'city': 'Rome', 'email': 'justinpoommen@gmail.com'}

In [37]:
mydict_cpy["mob no."] = 3289189730

In [38]:
print(mydict)
print(mydict_cpy)

{'name': 'Justin', 'age': 25, 'city': 'Rome', 'email': 'justinpoommen@gmail.com'}
{'name': 'Justin', 'age': 25, 'city': 'Rome', 'email': 'justinpoommen@gmail.com', 'mob no.': 3289189730}

To Merge two doctionaries we use **update()** method

In [39]:
#merging two dictionaries
mydict_2 = dict(name="Jithin",age=22,city="Kerala",email="jithin@gmail.com")
print(mydict)
print(mydict_2)

{'name': 'Justin', 'age': 25, 'city': 'Rome', 'email': 'justinpoommen@gmail.com'}
{'name': 'Jithin', 'age': 22, 'city': 'Kerala', 'email': 'jithin@gmail.com'}

In [41]:
#the values corresponding to the same key get replaced 
mydict.update(mydict_2)
print(mydict)

{'name': 'Jithin', 'age': 22, 'city': 'Kerala', 'email': 'jithin@gmail.com'}

Possible key types:  
 - In all the examples we use string as key
 - But we can use any the immutable types (numbers,tuples)

In [47]:
mydict_3 = {3:9, 6:36, 5:25,"i*i":(1,4,9,16,25,36)}
print(mydict_3)
print(mydict_3["i*i"])

{3: 9, 6: 36, 5: 25, 'i*i': (1, 4, 9, 16, 25, 36)}
(1, 4, 9, 16, 25, 36)

## Sets

- unordered
- mutable
- no duplicates
- single elements seperated by a comma

In [60]:
myset = {1,2,3,4,12,3,21,1}
print(myset)

{1, 2, 3, 4, 12, 21}

In [49]:
myset_1 = set("Hello")
print(myset_1)

{'H', 'o', 'l', 'e'}

In [50]:
#empty set
myset_2 = set()
print(myset_2)

set()

- We can add elements with **add()** method
- to remove the element  
    - **remove()**
    - **discard()** removes the elemts and if no elements is found no error
    - **clear()** empty the set
    - **pop()** return and remove arbitart element

In [51]:
myset.add(49)

In [52]:
print(myset)

{1, 2, 3, 4, 12, 49, 21}

In [53]:
myset.remove(21)

In [54]:
print(myset)

{1, 2, 3, 4, 12, 49}

In [55]:
myset.discard(24)

In [56]:
print(myset)

{1, 2, 3, 4, 12, 49}

In [57]:
myset.pop()

1

In [58]:
myset.clear()

In [62]:
print(myset)

{1, 2, 3, 4, 12, 21}

We can iterate in the set using **for loop**

In [63]:
for i in myset:
    print(i)

1
2
3
4
12
21

To check for the element we can use **if** statement

In [64]:
if 2 in myset:
    print("yes",2)

yes 2

Union and Intersection:
-

- Union() combines elements from two sets **without** duplication
- intersection() only take elements that are found in both sets

In [68]:
odds = {1,3,5,7,9}
evens = {2,4,6,8}
primes = {2,3,5,7}

#union
u = odds.union(evens)
print(u)

#intersection
i = evens.intersection(primes)
print(i)
i = odds.intersection(primes)
print(i)
i = evens.intersection(odds)
print(i)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2}
{3, 5, 7}
set()

To calcute difference of two sets  
- **difference()** will return a set with all elements in first set that are not in second element.
- **symmetric_difference()** method will return a set with elements that are not common in both sets
- union, intersection and difference will not modify our original set they just returns a new set. But we can also modify our original sets using **update()** method
- **intersection_update()** updates the set by keeping only common elements in both sets
- **difference_update()** update set with removing the common elements found in both sets.
- **symmentric_difference_update** update the set with non-common elements in both sets

In [86]:
setA = {1,2,3,4,5,6,7,8,9}
setB = {1,2,3,10,11,12}

#union
u = setA.union(setB)
print(u)

#intersection
i = setA.intersection(setB)
print(i)

#difference
diff = setA.difference(setB) #A not B
print(diff)
diff = setB.difference(setA) #B not A
print(diff)


#symmetric difference
sym_diff = setA.symmetric_difference(setB) # not (A and B)
print(sym_diff)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3}
{4, 5, 6, 7, 8, 9}
{10, 11, 12}
{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [73]:
#update sets

#update()
setA.update(setB)
print(setA)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [76]:
#intersection_update()
setA.intersection_update(setB) # A = A and B
print(setA)
setB.intersection_update(setA) # B = A and B
print(setB)

{1, 2, 3}
{1, 2, 3}

In [83]:
#difference_update
setA.difference_update(setB) # A = A not B)
print(setA)
setB.difference_update(setA) # B = B not A)
print(setB)

{4, 5, 6, 7, 8, 9}
{1, 2, 3, 10, 11, 12}

In [87]:
#symmetric_difference_update
setA.symmetric_difference_update(setB) # A = not(A and B)
print(setA)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

Subsets, Supersets and Joint sets:
-

- **issubset()** return boolean values
- **issuperset()** returns true if the fisrt set contain all the elemnts from the second set.
- **isdisjoint()** retuns true if the both set have null intersection(ie, no common elements)

In [88]:
setA = {1,2,3,4,5,6}
setB = {1,2,3}
setC = {7,8,9}

#subset
print(setA.issubset(setB))
print(setA.issubset(setC))
print(setB.issubset(setA))

#superset
print(setA.issuperset(setB))

#disjoint set
print(setC.isdisjoint(setA))

False
False
True
True
True

In [89]:
#copy methods
setC = setA.copy()
print(setC)

{1, 2, 3, 4, 5, 6}

In [91]:
setC.add(7)

In [92]:
print(setC)
print(setA)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6}

**Frozen Set Method:**  
- we cannot change it after it's creation
- cannot add,update,remove
- union,intersection,difference method will work

In [93]:
#frozen set
a = frozenset([1,2,3,4])

In [94]:
print(a)

frozenset({1, 2, 3, 4})

In [95]:
print(type(a))

<class 'frozenset'>

## Strings